/*------------------------------------*\
    BASIC LAYOUT
\*------------------------------------*/


body {
    background-color: $blue-dark;
    background-image: url('../assets/tangled.png');
    color: $grey-light;
    font-family: Merriweather, serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}


.grid--centered {
    text-align: center;
    
    >.grid__item {
        text-align: left;
    }
}




/**
 * Main navigation styles
 */
.site-header {
    position: fixed;
    z-index: 9999;
    padding: 4.167%;
    padding-bottom: 0;
    
    @include media-query(lap-and-up) {
        text-align: center;
    }
}


.navbar {
    padding: 4.167%;
    position: fixed;
    width: 75%;
    z-index: 1;
    
    @include media-query(lap-and-up) {
        background-color: #0c0c0c;
        height: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 25%;
    }
}


.logo {
    width: 44px;
    
    @include media-query(lap-and-up) {
        width: 88px;
    }
}


.site-nav {
    margin-top: 44px;
    padding-top: $base-spacing-unit;
    
    @include media-query(lap-and-up) {
        margin-top: 88px;
    }
    
    li {
        margin-bottom: $base-spacing-unit;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        a {
            color: #666;
            display: block;
            font-family: Lato, sans-serif;
            letter-spacing: 1px;
            text-transform: uppercase;
            
            @include font-size($h4-size);
            @include transition(color);
            
            &:hover {
                color: #fff;
            }
        }
    }
    
    .nav-item--current {
    
        a {
            color: #fff;
        }
    }

}

    
.skip-nav {
    position: absolute;
    left: -999em;
}




/**
 * Content wrapper
 */
.content {
    background-color: $purple-fade;
    margin-top: -$base-spacing-unit;
    position: relative;
    z-index: 100;
    padding-bottom: ($base-spacing-unit)*2;
    padding-bottom: (($base-spacing-unit / $base-font-size)*2)*1rem;
    
    @include media-query(lap-and-up) {
        margin-top: 0;
    }
}

    .content a {
        border-bottom: 1px solid $grey-dark;
        color: #fff;
        
        @include transition(border-color);
        
        &:hover {
            border-bottom: 1px solid $grey-light;
        }
    }




/**
 * Featured post header
 */
.post--featured {
    
}

    .post-header {
/*         @extend %sass-margin-bottom; */
        
        background-attachment: scroll;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 0;
        overflow: hidden;
        padding-bottom: 41.6667%;
        position: relative;
        
        @include media-query(lap-and-up) {
/*             background-attachment: fixed; */
            background-position: 75% 0;
/*             background-size: auto !important; */
        }
        
        a {
            text-transform: uppercase;
        }
    }
    
        .post-header__overlay {
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
            height: 75%;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: opacity 0.7s ease 0s;
            width: 100%;
            z-index: 101;
        }
    
        .post-header__inner {
            position: absolute;
            bottom: 4.167%;
/*             left: 4.167%; */
            width: 100%;
            z-index: 110;
        }
        
            .post__category {
                display: none;
                font-family: Lato, sans-serif;
                
                @include media-query(lap-and-up) {
                    display: block;
                }
            }
        
            .post__author {
                display: none;
                font-family: Lato, sans-serif;
                
                @include media-query(lap-and-up) {
                    display: block;
                    margin-bottom: 0;
                }
            }
    
            .post__title {
                color: #fff;
                margin-bottom: 0;
                text-shadow: 0 0 8px rgba(0,0,0,0.5);
                
                @include media-query(lap-and-up) {
                    @extend %margin-bottom-half;
                }
            }
            .post--featured .post__title {
                @include font-size($kilo-size);
            }

.post--recent {
    @extend .landmark;
}

    .post--recent .post__title {
        margin-bottom: 0;
    }

    .post--recent .post__author {
        display: none;
        
        @include media-query(lap-and-up) {
            display: block;
        }
    }




/**
 * Post footer
 */
.post__footer {
    
}




/**
 * Masthead section
 */
.masthead {
    padding: 4.167% 0;
    background-image: url('../assets/tangled.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.site-title {
    font-weight: 300;
    margin-bottom: 0;
}

.site-tagline {
    margin-bottom: 0;
}



/**
 * Categories list section
 */
.category-list {
    @extend %sass-margin-bottom;
    
    background-image: url('../assets/tangled.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    ul {
        margin-left: 0;
    }
}

    .category-list__inner {
        padding-top: $base-spacing-unit;
        padding-top: ($base-spacing-unit / $base-font-size)*1rem;
        background-color: rgba(52,17,34,0.4);
    }




/**
 * Site footer
 */
.site-footer {
    padding: 4.167%;
    width: 100%;
}

.copyright {
    font-family: Lato, sans-serif;
}


